<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Lakshmi Machine Works Limited | Industrial Machinery Manufacturers</title>
<meta name="keywords" content="" />
<meta name="description" content="Lakshmi Machine Works Limited is a leading manufacturer of industrial machinery like CNC machines, Textile Machinery, Foundry Castings & Aerospace Components." />
<meta name="google-site-verification" content="nqNFPRvPy2oxzc8E0kZENNUCS5-VSHhEEclJhSGZ_qg" />
<link rel="shortcut icon" href="favicon.ico" />
<style type="text/css" media="screen, tv, projection">
@import "css/style.css";
@import "css/menu.css";
@import "css/banner.css";
@import "css/responsive.css";

</style>
<style type="text/css">
/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /*padding-top: 100px;*/ /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */


img#logo{
    width:60%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:0px; opacity:0} 
  to {top:50%; opacity:1}
}

@keyframes animatetop {
  from {top:0px; opacity:0}
  to {top:50%; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*.modal-header {*/
  /*padding: 18px 16px;*/
/*  padding: 15px 16px 37px 16px;*/
/*  background-color: #29abe2;*/
/*  color: white;*/
/*}*/

/*newly added*/
.modal-header {
    padding: 15px 16px 37px 16px;
    /* background-color: #29abe2; */
    color: white;
    width: 75%;
    position: absolute;
    top: 0px;
}
/*end newly added*/


.modal-body {
  /*padding: 2px 16px;*/
  text-align: center;
}
.modal-body .title{
  margin: 20px 0;
  text-transform: uppercase;
  color: #555;
}
.modal-body p{
  margin: 10px 0;
}
.modal-body .bottom{
  margin-top: 20px;
  padding-bottom: 15px;
  display: block;
  color: #888;
}
.modal-body h3{
  text-transform: uppercase;
  color: #29abe2;
  margin: 20px 0;
  font-size: 26px;
}
.modal-body .left{
    padding: 8px 0;
}
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
@media only screen and (max-width: 1024px) {
    .modal-content{
        width : 80%;
    }
}
@media only screen and (max-width: 480px) {
    .modal-content{
        width: 100%;
    }
    .modal-body *{
        font-size: 12px;
    }
    .modal-body h3{
        font-size: 17px;
    }
    .modal-body .title, .modal-body h3 {
        margin: 15px 0;
    }
    .modal-body .bottom {
        margin-top: 15px;
    }
    .modal-body .left img{
        max-height : 60px;
    }
}
</style>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/scrolltopcontrol.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7PT0XSZV29"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7PT0XSZV29');
</script>
</head>
<body>
<div id="wrapper">
  <div class="header">
          <div class="mainarea">
      <div class="logo"><a href="index"><img src="images/lmw-logo.png" alt="Lakshmi Machine Works" /></a></div>
      <div class="menu-section">
        <div id="cssmenu">
          <ul>
            <li><a href="index" class="active">Home</a></li>
            <li><a href="#">About LMW</a>
              <ul>
                <li><a href="about">Profile</a></li>
                <li><a href="vision-mission">Vision &amp; Mission</a></li>
              </ul>
            </li>
            <li><a href="#">Our Businesses</a>
              <ul>
                <li><a href="https://www.lmwtmd.com" target="_blank">Textile Machinery Division</a></li>
                <li><a href="https://www.lmwcnc.com" target="_blank">Machine Tool Division</a></li>
                <li><a href="https://www.lmwfoundry.com" target="_blank">Foundry Division</a></li>
                <li><a href="https://www.lmwatc.com" target="_blank">Advanced Technology Centre</a></li>
              </ul>
            </li>
            <li><a href="investors/leadership/board-of-directors.html">Investors</a></li>
            <li><a href="sustainability">Sustainability</a></li>
            <li><a href="csr-activities">CSR</a></li>
            <li><a href="https://lmwanubhav.darwinbox.in/ms/candidate/careers" target="_blank">Career</a>
              <!--<ul>-->
                <!--<li><a href="current-openings.php">Current Openings</a></li> -->
              <!--  <li><a href="apply-online.php">Apply Online</a></li>-->
              <!--</ul>-->
            </li>
            <li><a href="contact-us" class="cta-contact">Contact Us</a>
              <!--
              <ul>
                <li><a href="contact-us">Reach Us</a></li>
                <li><a href="enquiry">Enquiry</a></li>
              </ul>
              -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="banner_bg">
          <div class="sub-banner-img"><img src="images/banner/tmd.jpg" /></div>
          <div class="sub-banner-overlay">
            <div class="sub-container">
              <div class="sub-banner-content">
                <div class="has_bg_img tmd"></div>
                <div class="sub-banner-heading">
                  <h1>Textile Machinery Division</h1>
                  <p>Established as a provider of spinning technology to Indian textile mills, the company is a leading textile machinery manufacturer in India and one among the few in the world to offer complete spinning solution to the customers.</p>
                  <h4><a href="https://www.lmwtmd.com" target="_blank">Read More</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="banner_bg">
          <div class="sub-banner-img"><img src="images/banner/mtd.jpg" /></div>
          <div class="sub-banner-overlay">
            <div class="sub-container">
              <div class="sub-banner-content">
                <div class="has_bg_img mtd"></div>
                <div class="sub-banner-heading">
                  <h1>Machine Tool Division</h1>
                  <p>The Company is a recognized name in the CNC machine space offering the entire range of CNC lathes and machining centres to leading corporates in India.</p>
                  <h4><a href="https://www.lmwcnc.com" target="_blank">Read More</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="banner_bg">
          <div class="sub-banner-img"><img src="images/banner/foundry.jpg" /></div>
          <div class="sub-banner-overlay">
            <div class="sub-container">
              <div class="sub-banner-content">
                <div class="has_bg_img fdy"></div>
                <div class="sub-banner-heading">
                  <h1>Foundry Division</h1>
                  <p>This division caters to Original Equipment Manufacturers (OEM) in the global &amp; domestic market with niche products.</p>
                  <h4><a href="https://www.lmwfoundry.com" target="_blank">Read More</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="banner_bg">
          <div class="sub-banner-img"><img src="images/banner/atc.jpg" /></div>
          <div class="sub-banner-overlay">
            <div class="sub-container">
              <div class="sub-banner-content">
                <div class="has_bg_img atc"></div>
                <div class="sub-banner-heading">
                  <h1>Advanced Technology Centre</h1>
                  <p>The Company leverages its engineering expertise to develop components for the highly complex aerospace sector.</p>
                  <h4><a href="https://www.lmwatc.com" target="_blank">Read More</a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
  </div>
  <div class="group_bg">
    <div class="group_row01">
      <h3><a href="https://www.lmwtmd.com" target="_blank">Textile Machinery Division</a></h3>
    </div>
    <div class="group_row02">
      <h3><a href="https://www.lmwcnc.com" target="_blank">Machine Tool Division</a></h3>
    </div>
    <div class="group_row03">
      <h3><a href="https://www.lmwfoundry.com" target="_blank">Foundry Division</a></h3>
    </div>
    <div class="group_row04">
      <h3><a href="https://www.lmwatc.com" target="_blank">Advanced Technology Centre</a></h3>
    </div>
  </div>
  <div class="maincontent">
    <div class="container">
      <div class="welcome">
        <div class="welcome_left">
          <h1><span>Welcome to</span><br>
            Lakshmi Machine Works Limited</h1>
        </div>
        <div class="welcome_right">
          <p>Lakshmi Machine Works Limited (LMW), a leading Textile Machinery Manufacturer in India and one among the three in the world to produce the entire range of Spinning Machinery. In 1962, LMW was founded to provide Indian textile mills with the latest Spinning Technology. It caters to the domestic market as well as exports products to the Asian and Oceanic regions.</p>
          <p>LMW diversified into CNC Machine Tools and is a brand leader in manufacturing customised products. LMW Foundry makes Precision Castings for industries world over. LMW has added the Advanced Technology Centre to manufacture components for the Aerospace Industry.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="news-section">
    <div class="container">
      <div class="news-content">
        <div class="news-floating"><img src="images/news/news00.jpg" />
          <div class="news-floating-overlay">
            <h2>News &amp; Events</h2>
          </div>
        </div>
        <div class="news-list">
          <ul>
              
              <li><a href="https://www.lmwcnc.com/events/acmee-2023.php" target="_blank"><img src="images/news/acmee-2023.jpg" />
              <div class="news-overlay">
                <p>LMW participated ACMEE'23 at the Chennai Trade Center in Chennai, TamilNadu.</p>
                <h4>ACMEE - 2023</h4>
              </div>
              </a> </li>
              <li><a href="https://www.lmwcnc.com/events/pmts-2023.php" target="_blank"><img src="images/news/pmts-2023.jpg" />
              <div class="news-overlay">
                <p>LMW participated PMTS at Auto Cluster Exhibition Center in Chinchwad, Pune.</p>
                <h4>PMTS - 2023</h4>
              </div>
              </a> </li>
              <li><a href="https://www.lmwcnc.com/gallery-awards.php" target="_blank"><img src="images/news/bmcb.png" />
              <div class="news-overlay">
                <p>Awarded by Economic Times consecutively for three years now.</p>
                <h4>Best Metal Cutting Brand 2022</h4>
              </div>
              </a> </li>
              
               <li><a href="http://www.lmwtmd.com/cii-awards.php" target="_blank"><img src="images/news/cii.jpg" />
              <div class="news-overlay">
                <p>CII awards LMW with “The Most Innovative Company of the Year – 2020”</p>
                <h4>CII Awards LMW </h4>
              </div>
              </a></li>
              
            <!--  
            <li><a href="http://www.lmwtmd.com/events-itma-citme.php" target="_blank"><img src="images/news/news01.jpg" />
              <div class="news-overlay">
                <p>15.10.2018</p>
                <h4>ITMA Asia + CITME 2018</h4>
              </div>
              </a> </li>
            <li><a href="https://www.lmwatc.com/events-absorption.html" target="_blank"><img src="images/news/news03.jpg" />
              <div class="news-overlay">
                <p>14.05.2018</p>
                <h4>DRDO Defence Technology Absorption Award 2017</h4>
              </div>
              </a> 
            </li>
            -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bg">
    <div class="container">
      <h3>Lakshmi Machine Works Limited</h3>
      <div class="footer">
        <div class="footer_row Mar_btm">
          <h5>Registered Office</h5>
          <p>SRK Vidyalaya Post,<br>
            Periyanaickenpalayam,<br>
            Coimbatore -<a href="https://goo.gl/maps/rp93AdEFqs53PvUA6" target="_blank"> 641 020
    </a> <br>
            Tamil Nadu, India.</p>
        </div>
        <div class="footer_row">
          <h5> &nbsp;</h5>
          <p><a href="terms-conditions" >Terms and Conditions</a></p>
          <p><a href="privacy-policy" >Privacy Policy</a></p>
         <p><a href="cookie-policy" >Cookie Policy</a></p>
        </div>
        <div class="footer_row">
          <h5>Corporate Office</h5>
          <p>34A, Kamaraj Road,<br>
            Coimbatore - <a href="https://goo.gl/maps/G43tunRL2dPorNc66" target="_blank">641 018</a><br>
            Tamil Nadu, India</p>
        </div>
       
        <div class="footer_row">
          <h5>&nbsp;</h5>
          <!--<p><span>Phone</span>: <a href="tel:422 7192255">+91 422 7192255</a></p>-->
          <p><span>Phone</span>: <a href="tel:422 7192255">+91 422 7192255</a></p>
          <p><span>Fax</span>:<a href="fax:422 2692541">+91 422 2692541</a> </p>
          <p><span>E-Mail</span>: <a href="mailto:info@lmw.co.in">info@lmw.co.in</a></p>
        </div>
        <div class="footer_row">
            <div class="footer-social">
          <h5>&nbsp;</h5>
          <ul>
            <li><a href="https://www.facebook.com/LMWofficial/" target="_blank"> <img src="images/footer/fb (1).png" alt="LMW Facebook" /></a></li>
            <li><a href="https://twitter.com/OfficialLMW" target="_blank"> <img src="images/footer/tweet.png" alt="LMW Twitter" /></a></li>
            <li><a href="https://www.linkedin.com/company/lmwofficial" target="_blank"> <img src="images/footer/linked-in.png" alt="LMW LinkedIn" /></a></li>
            <li><a href="https://www.youtube.com/channel/UCSI8cXIrt7m0YwMWMQNTT1w" target="_blank"> <img src="images/footer/youtube.png" alt="LMW YouTube" /></a></li>
            <li><a href="https://www.instagram.com/lakshmi_machine_works/" target="_blank"> <img src="images/footer/insta.png" alt="LMW Instagram" /></a></li>
          </ul> 
          
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="rights">
          <p>© <script>document.write(new Date().getFullYear())</script> LAKSHMI MACHINE WORKS LIMITED. ALL RIGHTS RESERVED.</p>
        </div>
        <div class="design">
          <p><a href="http://www.signatures1.com/" target="_blank"><img src="images/footer/signatures1-footer1.png" alt="Signatures" /></a></p>
        </div>
      </div>
    </div>
  </div>
</div>







<!-- The Modal -->
<!--
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
    -->
      <!--<div class="flex_center">-->
      <!--  <div class="left">-->
      <!--    <img src="images/logo_1.png" alt="LMW">-->
      <!--  </div>-->
      <!--  <div class="right">-->
      <!--    <p class="title">This notification is to inform you that our telephone numbers have changed, kindly update your contact information.</p>-->
      <!--    <h3>Please replace initial three digit “302” to “719”.</h3>-->
      <!--    <p>ex: <b>0422 302 2255</b> changed to <b>0422 719 2255</b></p>-->
      <!--    <div class="bottom">-->
      <!--    <small>Thanks for your continued support and cooperation.</small>-->
      <!--    <div><small>Lakshmi Machine Works Limited, Coimbatore.</small></div>-->
      <!--    </div>  -->
      <!--  </div>-->
      <!--</div>-->
      <!--
      <img src="images/popup.png" alt="" width="100%" id="logo">
      
    </div>
  </div>
</div>
-->
<script type="application/javascript" src="js/banner.js"></script> 
<script>
    var swiper = new Swiper('.swiper-container', {
	  autoHeight: true,
      centeredSlides: true,
	  loop: true,
      grabCursor: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      autoplay: {
        delay: 3000,
        disableOnInteraction: true,
      },
      keyboard: {
        enabled: true,
      },
    });
    
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    /*btn.onclick = function() {
      
    }*/
    //modal.style.display = "block";
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>


<script type="text/javascript">
  jQuery(document).ready(function () {
    function openFancybox() {
        setTimeout(function () {
            jQuery('#popuplink').trigger('click');
        }, 500);
    };
    var visited = jQuery.cookie('visited');
    if (visited == 'no') {
         // second page load, cookie active
    } else {
        openFancybox(); // first page load, launch fancybox
    }
    jQuery.cookie('visited', 'yes', {
        expires: 365 // the number of days cookie  will be effective
    });
    jQuery("#popuplink").fancybox({modal:true, maxWidth: 500, overlay : {closeClick : true}});
});
</script>

<div style="position:absolute; top:-9999px;">
<ul>
<li><a href="https://www.lmwglobal.com/att-spara-69-kronor.html">Att spara: 69 kronor.</a></li>
<li><a href="https://www.lmwglobal.com/bog-det-7-maner-fodt-og-birk-indeholder-om-8-opgaver.html">Bog det 7 måner født, og Birk indeholder om, 8 opgaver.</a></li>
<li><a href="https://www.lmwglobal.com/do-not-use-ciclodan-on-a-child-without-medical-advice.html">Do not use Ciclodan on a child without medical advice.</a></li>
<li><a href="https://www.lmwglobal.com/dysfonction-erectile.html">Dysfonction érectile</a></li>
<li><a href="https://www.lmwglobal.com/if-you-need-more-call-your-doctor.html">If you need more, call your doctor.</a></li>
<li><a href="https://www.lmwglobal.com/it-is-not-known-if-genotropin-crosses-into-human-milk.html">It is not known if Genotropin crosses into human milk.</a></li>
<li><a href="https://www.lmwglobal.com/le-pillole-dellamore.html">Le pillole dell’amore</a></li>
<li><a href="https://www.lmwglobal.com/parla-e-dovuto-a-terapie-per.html">Parla, è dovuto a terapie per.</a></li>
</ul>
</div>
        
</body>
</html>